<header>
  <ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/rezepte']">Rezeptbuch</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/einkaufsliste']">Einkaufsliste</a></li>
    <li>
      <div class="dropdown" appDropdown>
        <button
        id="dLabel"
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        class="btn btn-primary">
      Verwaltung
      <span class="caret"></span>
    </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a (click)="onStore()" style="cursor: pointer">Speichern</a></li>
          <li><a (click)="onFetch()" style="cursor: pointer">Laden</a></li>
        </ul>
      </div>
  </ul>
</header>

<hr>
