<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" (click)="onNewRecipe()">Neues Rezept</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-recipe-item
      *ngFor="let recipe of recipes; let i = index"
       [recipe]="recipe"
       [recipeId]="i"
       (recipeSelected)="onSelected($event)"></app-recipe-item>
    </ul>
  </div>
</div>
